{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}


<div class="container">
  <h1 class="text-center my-4">Categories Shoe</h1>
  <div class="circle-container">
    {% for category in categories %}
      <a class="category-circle" href="{{ category.get_absolute_url }}">
        {% if category.image %}
          <img src="{{ category.image.url }}" alt="{{ category.name }}">
        {% else %}
          <img src="{% static 'images/default-cat.png' %}" alt="{{ category.name }}">
        {% endif %}
        <div class="category-name">{{ category.name }}</div>
      </a>
      
    {% empty %}
      <p>No categories available.</p>
    {% endfor %}
  </div>
  <br><br>
  <br><br>
  <br><br>
</div>



{% endblock %}
